<mat-card>
  <mat-card-header>
    <mat-card-title>Project Title</mat-card-title>
    <mat-card-subtitle>Explanation of the project, which is a little longer</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Description...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="accent" href="https://github.com/dkempen" target="_blank" rel="noopener"
      [matTooltip]="'Live demo'"><i class="fas fa-eye"></i>Live demo</a>
    <a mat-raised-button color="accent" href="https://github.com/dkempen" target="_blank" rel="noopener"
      [matTooltip]="'View code'"><i class="fas fa-code"></i>View code</a>
  </mat-card-actions>
</mat-card>
