<i class="text-primary fs-3 bi" [ngClass]="'bi-' + skill.icon"></i>
<h3>{{ title }}</h3>
<p>{{ description }}</p>
<div *ngIf="skill.languages && skill.languages.length !== 0">
  <p class="text-primary fw-semibold fs-5 my-1">
    {{ "skill.languages" | translate }}
  </p>
  <ul>
    <li *ngFor="let language of skill.languages">{{ language }}</li>
  </ul>
</div>
<div>
  <p class="text-primary fw-semibold fs-5 my-1">
    {{ "skill.tools" | translate }}
  </p>
  <ul>
    <li *ngFor="let tool of skill.tools">{{ tool }}</li>
  </ul>
</div>
