@import '~@angular/material/theming';

@mixin header-component-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  mat-toolbar {
    background-color: mat-color($background, app-bar);
  }

  p {
    color: mat-color($foreground, text);
  }

  .mat-menu-content p,
  .navigation p {
    transition: color 0.3s;
    color: mat-color($accent);
  }

  .mat-menu-content p:hover,
  .navigation p:hover {
    color: mat-color($foreground, text);
  }
}
