button {
  min-width: 130px;
  align-self: center;
}

button div {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

mat-spinner {
  margin: auto;
  margin-top: var(--paddingExtraSmall);
  margin-bottom: var(--paddingExtraSmall);
  justify-self: center;
}
