// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// Colors (http://mcg.mbitson.com/#!?blue=%2300378e&orange=%23ea5f00&red=%23c30000&grey=%23343434)
$daan-blue: (50 : #e3f4ff,
  100 : #b9e3ff,
  200 : #8ad0ff,
  300 : #5bbdff,
  400 : #38aeff,
  500 : #15a0ff,
  600 : #1298ff,
  700 : #0f8eff,
  800 : #0c84ff,
  900 : #0673ff,
  A100 : #ffffff,
  A200 : #f3f8ff,
  A400 : #c0d9ff,
  A700 : #a7c9ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$daan-orange: (50 : #fcece0,
  100 : #f9cfb3,
  200 : #f5af80,
  300 : #f08f4d,
  400 : #ed7726,
  500 : #ea5f00,
  600 : #e75700,
  700 : #e44d00,
  800 : #e14300,
  900 : #db3200,
  A100 : #ffffff,
  A200 : #ffd7cf,
  A400 : #ffac9c,
  A700 : #ff9783,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$daan-red: (50 : #ffe5e5,
  100 : #ffbdbd,
  200 : #ff9191,
  300 : #ff6565,
  400 : #ff4444,
  500 : #ff2323,
  600 : #ff1f1f,
  700 : #ff1a1a,
  800 : #ff1515,
  900 : #ff0c0c,
  A100 : #ffffff,
  A200 : #fff6f6,
  A400 : #ffc3c3,
  A700 : #ffa9a9,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$daan-grey: (50 : #e7e7e7,
  100 : #c2c2c2,
  200 : #9a9a9a,
  300 : #717171,
  400 : #525252,
  500 : #343434,
  600 : #2f2f2f,
  700 : #272727,
  800 : #212121,
  900 : #151515,
  A100 : #ef6e6e,
  A200 : #ea4040,
  A400 : #f60000,
  A700 : #dd0000,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  ));

// Color assignment
// Light
$portfolio-light-primary: mat-palette($daan-blue);
$portfolio-light-accent: mat-palette($daan-orange);
$portfolio-light-warn: mat-palette($daan-red);
$portfolio-light-background: map_get($daan-grey, 50);

// Dark
$portfolio-dark-primary: mat-palette($daan-blue, 900);
$portfolio-dark-accent: mat-palette($daan-orange);
$portfolio-dark-warn: mat-palette($daan-red);
$portfolio-dark-background: map_get($daan-grey, 900);

// Theme objects
// Light
$portfolio-light-theme: mat-light-theme($portfolio-light-primary, $portfolio-light-accent, $portfolio-light-warn);
$background: map-get($portfolio-light-theme, background);
$background: map_merge($background, (background: $portfolio-light-background));
$portfolio-light-theme: map_merge($portfolio-light-theme, (background: $background));

// Dark
$portfolio-dark-theme: mat-dark-theme($portfolio-dark-primary, $portfolio-dark-accent, $portfolio-dark-warn);
$background: map-get($portfolio-dark-theme, background);
$background: map_merge($background, (background: $portfolio-dark-background));
$portfolio-dark-theme: map_merge($portfolio-dark-theme, (background: $background));

// Include theme styles
@include angular-material-theme($portfolio-light-theme);
@include angular-material-theme($portfolio-dark-theme);
