/* Imports */

@import "/src/variables.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "flag-icons/css/flag-icons.min.css";

/* Root styles */

html,
body {
  height: 100%;
}

router-outlet + *:not(app-footer) {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

router-outlet:has(+ app-footer) {
  flex-grow: 1;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: $spacer;
}

::-webkit-scrollbar-track {
  @extend .bg-body-secondary;
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Global styles */

.btn-round {
  border-radius: 50%;
  padding: 6px;
  width: 36px;
  height: 36px;
}

.btn-link {
  --bs-btn-color: var(--bs-body-color);
  text-decoration: none;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.5);
  }
}

h2 {
  font-size: x-large;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;

  $lineDistance: 1rem;
  $lineLength: 4rem;
  $lineWidth: 2px;
  $linePosition: calc(-1 * $lineLength - $lineDistance);

  &::after,
  &::before {
    content: "";
    width: $lineLength;
    height: $lineWidth;
    background: $primary;
    top: calc(50% - $lineWidth / 2);
    position: absolute;
  }
  &::before {
    left: $linePosition;
  }
  &::after {
    right: $linePosition;
  }
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Helper classes */

.keep-spaces {
  white-space: pre;
}

.word-wrap {
  word-break: break-all;
}

.line-breaks {
  white-space: pre-line;
}

.relative {
  position: relative;
}
